body {
    font-family: Arial;
    background: linear-gradient(135deg,#2b5876,#4e4376);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
}

select, button {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

button {
    background: #ffcc00;
    border: none;
    font-weight: bold;
}